<h1>Merci pour votre commande </h1>

<p>Votre paiement a bien été reçu. Nous préparons votre commande !</p>

<%= link_to "Retour à l'accueil", root_path %>
<%= link_to "Voir mon panier", cart_path %>
