<h2>Mon Profil</h2>
<div>
  <% if current_user %>
<div>
      <% if current_user.avatar.present? %>
      <%= image_tag current_user.avatar, alt: "Avatar de #{current_user.fullname}", style: "width: 150px; height: auto;" %>
    <% end %>
    <h3><%= current_user.fullname %></h3>
    <p> <%= current_user.email %></p>
    <button>Exporter mes données</button>
    <button>Supprimer mon compte</button>
    <button>Modifier</button>
</div>
<div>
  <h3>Mes favoris</h3>
</div>
<div>
  <h3>Mes commandes</h3>
</div>
  <% else %>
    <div class="alert">Veuillez vous connecter pour accéder à votre profil.</div>
  <% end %>
  <%= link_to "Retour accueil", root_path %>
</div>